
.block {
  width: 40px;
  aspect-ratio: 1;
  border: 1px solid transparent;
  transition: ease-in 0.5ms;
  
  &Hidden {
    visibility: hidden;
  }
  &Empty {
    background-color: rgb(200, 200, 200);
  }
  &I {
    background-color: rgb(80, 227, 230);
    border: 1px solid black;
  }
  
  &J {
    background-color: rgb(36, 95, 223);
    border: 1px solid black;
  }
  
  &L {
    background-color: rgb(223, 173, 36);
    border: 1px solid black;
  }
  
  &O {
    background-color: rgb(223, 217, 36);
    border: 1px solid black;
  }
  
  &S {
    background-color: rgb(48, 211, 56);
    border: 1px solid black;
  }
  
  &T {
    border: 1px solid black;
    background-color: rgb(132, 61, 198);
  }
  
  &Z {
    background-color: rgb(227, 78, 78);
    border: 1px solid black;
  }
}


