body{
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}


.controls {
  grid-area: controls;
}

.upcoming {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 10px;
}

.cell {
  width: 40px;
  aspect-ratio: 1;
  border: 1px solid lime;
}

.cell.hidden {
  visibility: hidden;
}

.cell.I {
  background-color: rgb(80, 227, 230);

}

.cell.J {
  background-color: rgb(36, 95, 223);
}

.cell.L {
  background-color: rgb(223, 173, 36);
}

.cell.O {
  background-color: rgb(223, 217, 36);
}

.cell.S {
  background-color: rgb(48, 211, 56);
}

.cell.T {
  background-color: rgb(132, 61, 198);
}

.cell.Z {
  background-color: rgb(227, 78, 78);
}
